header{
  background-color: aqua;
  width: 100vw;
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* header img{
  height: 100%;
  mix-blend-mode: multiply; if white background needs to be removed
} for when I get a logo*/

nav{
  display: flex;
  gap: 8px;
}