header{
  background-color: #FAD02C;
  width: 100vw;
  height: 105px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header img{
  height: 100%;
  mix-blend-mode: multiply; 
} 

nav{
  display: flex;
  gap: 10px;
  margin: 5px;
}